<%- include('navbar.ejs') %>

<div class="container mt-5">

    <div class="card p-4 shadow-sm">
        <h3 class="mb-3">Mark Attendance</h3>

        <p><strong>Event:</strong> <%= event.title %></p>

        <form method="POST" action="/mark-attendance">
            <input type="hidden" name="event_id" value="<%= event.id %>">

            <div class="mb-3">
                <label>Name</label>
<input type="text" name="name" class="form-control" required pattern="^\w+\s+\w+\s+\w+.*" 
title="Please enter full name (First Middle Last)">         
   </div>

            <div class="mb-3">
                <label>Email</label>
                <input type="email" name="email" class="form-control" required>
            </div>

            <button class="btn btn-success">Submit Attendance</button>
        </form>
    </div>

</div>

<%- include('footer.ejs') %>